@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
}

body {
    height: 100vh;
    background-image: url('./img/image-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.header {
    width: 100%;
    height: 58px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: rgba(0, 0, 0, 0.4);
    margin-bottom: 54px;
}

.nav {
    width: 1208px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.first-part {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;

    color: #FFFFFF;
    cursor: pointer;
}

.second-part {
    display: flex;
    align-items: center;
}

.dividing-line {
    height: 19px;
    border-right: 1px solid white;
    background: rgba(255, 255, 255, 0.9);
    mix-blend-mode: normal;
    opacity: 0.5;
    margin-left: 20px;
    margin-right: 27px;
}

.third-part-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;

    color: #FFFFFF;
}

.icon-group svg:first-child {
    margin-right: 27px;
}

.icon-group svg:nth-child(2) {
    margin-right: 24px;
}

.first-part:hover {
    color: #3CB878
}

.svg-logo:hover path {
    fill: #3CB878
}

.text-hover:hover {
    color: #3CB878
}

.svg-logo {
    cursor: pointer;
}

.text-hover {
    cursor: pointer;
}

/* или так */
/* svg:hover {
    filter: invert(54%) sepia(90%) saturate(302%) hue-rotate(97deg) brightness(95%) contrast(90%);
} */

/* Header is over */

.main {
    width: 100%;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 444px;
    height: 584px;
    display: flex;
    justify-content: center;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    padding: 31px 60px 38px 60px;
}

.form {
    width: 100%;
    height: 100%;
}

.form:before {
    content: '';
    width: 18px;
    height: 18px;
    background: #3CB878;
    position: absolute;
    top: 29px;
    left: 0;
}

.container-block-first {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.container-block-first-text {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;

    color: #434343;
}

.container-block-second-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;

    color: #3CB878;
    cursor: pointer;
}

.container-block-second-text:hover {
    color: #01813F;
    text-decoration: underline;
}

.container-button {
    display: flex;
    justify-content: space-between;
}

.fb-button {
    background-color: #305DB8;
    border: none;
    border-radius: 4px;
}

.fb-button-link {
    width: 160px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    padding: 11px 20px 11px 10px;
}

.dividing-line-fb {
    height: 28px;
    border-right: 1px solid #0A162F;
    mix-blend-mode: normal;
    opacity: 0.1;
}

.fb-button-text {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;

    color: #FFFFFF;
    margin-left: 18px;
}

.wrapper-button-fb {
    display: flex;
    align-items: center;
}

.google-button {
    background-color: #DF4A32;
    border: none;
    border-radius: 4px;
}

.google-button-link {
    width: 160px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    padding: 17px 27px 17px 12px;
}

.wrapper-button-google {
    display: flex;
    align-items: center;
}

.dividing-line-google {
    height: 28px;
    border-right: 1px solid #2B0D09;
    mix-blend-mode: normal;
    opacity: 0.1;
}

.google-button-text {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;

    color: #FFFFFF;
    margin-left: 30px;
}

.container-button .fb-button-link:hover {
    background-color: #022263;
    border-radius: 4px;
    transform: scale(1.03);
    transition: all .5s ease;
}

.google-button .google-button-link:hover {
    background-color: #AB1F09;
    border-radius: 4px;
    transform: scale(1.03);
    transition: all .5s ease;
}

.container-or {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 31px;
    margin-bottom: 5px;
}

.dividing-line-first {
    width: 152px;
    height: 1px;
    border: 1px solid #F2F2F2;
}

.main-input {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input {
    width: 100%;
    height: 44px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    outline: none;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    padding: 20px 15px;
}

.input:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.input::placeholder {
    color: #BEBEBE;
}

.wrapper-checkbox {
    display: flex;
    align-items: center;
    margin-top: 12px;
}

.label-checkbox {
    display: flex;
    align-items: center;
}

.black-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;

    color: #434343;
    margin-left: 8px;
}

.green-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;

    color: #3CB878;
}

.green-text:hover {
    color: #01813F;
    text-decoration: underline;
}

input[type=checkbox] {
    display: none;
}

.checkbox {
    width: 20px;
    height: 20px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #F2F2F2;
}

.svg-check {
    display: none;
}

.hidden-checkbox:checked~.checkbox .svg-check {
    display: block;
}

.create-button-bottom {
    width: 100%;
    height: 46px;
    margin-top: 20px;
    border: none;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;

    color: #FFFFFF;
}

.create-button-link {
    width: 100%;
    height: 46px;
    list-style: none;
    text-decoration: none;
}

.text-button {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;

    color: #FFFFFF;
}

.create-button-bottom:hover {
    background-color: #01813F;
    transform: scale(1.03);
    transition: all .5s ease;
}

.wrapper-button {
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.change-button {
    width: 165px;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    color: black;

    background-color: #F6762C;
    border-radius: 5px;
    border: none;
    padding: 15px 37px;
}
/* =========== HW14 ============= */
body {
    color: #373737;
    background: white;
    transition: all .3s ease;
}

.dark-mode {
    color: white;
    background: #373737;
}